.apps {
    width: 100%;
    margin-bottom: 170px;
}

.apps .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apps__list {
    width: 280px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 50px;
    margin-bottom: 50px;
}

.apps__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps__link {
    border: 1px solid var(--basic-white);
    font-size: 17px;
    font-weight: 300;
    padding: 13.5px 40px;
    text-align: center;
    text-decoration: none;
    color: var(--basic-white);
    text-transform: capitalize;
}

@media (min-width: 1579px) {
    .apps__list {
        width: auto;
        display: flex;
        width: 831px;
        justify-content: center;
        gap: 0;
    }

    .apps__item {
        width: 60px;
        min-width: 60px;
        height: 60px;
        flex-grow: 1;
    }

    .apps__item:not(:last-child) {
        margin-right: 74px;
    }

    .apps__item img {
        width: 100%;
    }
    .ibm {
        width: 150px;
    }
}