.design-section {
    width: 353px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
    margin: 0 auto;
    background-color: var(--basic-white);
    border-radius: 10px;
    margin-bottom: 400px;
}

.design-section__title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 169px;
    text-align: center;
}

.design-section__link {
    padding: 13.5px 46px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    font-size: 17px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    margin-bottom: 57px;
    white-space: nowrap;
    width: 266px;
}

@media (min-width: 1579px) {
    .design-section {
        width: 476px;
        height: 100%;
        margin-bottom: 0;
    }

    .design-section br {
        display: none;
    }
}