.main-footer {
    width: 315px;
    margin: 0 auto;
    color: var(--basic-white);
}

.main-footer__td {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.main-footer__td a {
    text-decoration: none;
}

.main-footer__td:first-child {
    margin-bottom: 40px;
    font-size: 20px;
}

.main-footer__td:last-child {
    margin-bottom: 75px;
}

.main-footer__right-side {
    display: flex;
    flex-direction: column;
}

.main-footer__right-side span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-footer__right-side span svg {
    margin-right: 7px;
}

@media (min-width: 1579px) {
    .main-footer {
        display: flex;
        width: 1027px;
        margin: 0 auto;
    }

    .main-footer__table {
       margin-right: auto;
    }

    .main-footer__table tbody {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 75px;
    }
}